<?xml version='1.0' encoding='utf-8' ?>        
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='application/xhtml+xml; charset=utf-8' http-equiv='Content-Type' />
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>
    <%= content %>
  </body>
</html>

